<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .search {
        width: 100%;
        position: relative;
        display: flex;
    }


</style>
<body>
<div class="search">
    <form action='animal'>
        <h2>Search for a Animal</h2>
       <input type='text' name="search" placeholder="Input Your Animal">
        <button type='submit'>
            <i class='fa fa-search'></i>
        </button>
</div>
</form>
</body>
</html>